*.swp
*.bin
*.hex
!rc2014-cpm22-8085-cf-acia.hex
!rc2014-cpm22-z80-cf-acia.hex
!rc2014-cpm22-z80-cf-sio.hex
!rc2014-cpm22-z80-pata-sio.hex
*.map
*.def
*.lst
*.obj
*.lis
*.lib
disasm.txt
test/fatfs/out/
